<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- css files-->
    <link rel="stylesheet" href="../styles/styles.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/13fe3ce91d.js" crossorigin="anonymous"></script>
<style>
  .top
  {
    display: flex;
    justify-content: space-between;
    margin: 50px;
  }
  .top img
  {
    height: 150px;
    border-radius: 100%;
  }
</style>
</head>
<body>
    <header id="top">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="#" width="60" height="auto" class="d-inline-block align-top" alt="">
                Lorem Ipsum
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color:white;">| | |</span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/lost">Lost</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/found">Found</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/RAT/<%=roll%>">Raise a Ticket</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <section class="top">
      <div>
        <h3>Welcome, <%=info%></h3>
        <p>Phone No : <%=roll%></p>
      </div>
      <img src="https://avatars.dicebear.com/api/avataaars/<%=info%>.svg?eyes[]=happy&skin[]=yellow&mouth[]=smile&eyebrow[]=raisedExcited" alt="emoticon" srcset="">
    </section>
    <div class="cards">
      <%for(let i=0;i<final.length;++i){%>
      <div class="wrapper" style="font-size: 15px;">
        <%=final[i].name%>
      </div>
      <%}%>
      <!-- <div class="wrapper"><i class="fas fa-link"></i><br>FIN-TECH</div></div>
      <div class="wrapper"><i class="fas fa-lightbulb "></i> <div style="font-size: 15px;">OPEN INNOVATION</div></div>
      <div class="wrapper"><i class="fas fa-graduation-cap"></i> <div style="font-size: 15px;">EDUCATION</div></div>
      <div class="wrapper"><i class="fas fa-briefcase-medical"></i> <div style="font-size: 15px;">HEALTH</div></div> -->
    </div>
    <!-- <% if(final.length === 4){%>
    <div class="alldivheader">
      <div class="wrapper">
        <div class="cols">
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container_card">
              <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                <div class="inner">
                  <p><%=final[0].name%></p>
                  <span><%=final[0].phone%></span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p>
                    <%=final[0].location%>
                    <br>
                    <%=final[0].brand%>
                    <br>
                    <%=final[0].color%>
                    <br>
                    <%=final[0].type%>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container_card">
              <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                <div class="inner">
                  <p><%=final[1].name%></p>
                  <span><%=final[1].phone%></span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p>
                    <%=final[1].location%>
                    <br>
                    <%=final[1].brand%>
                    <br>
                    <%=final[1].color%>
                    <br>
                    <%=final[1].type%>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper"> 
        <div class="cols">
            <div class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container_card">
                <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                  <div class="inner">
                    <p><%=final[2].name%></p>
                    <span><%=final[2].phone%></span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>
                      <%=final[2].location%>
                      <br>
                      <%=final[2].brand%>
                      <br>
                      <%=final[2].color%>
                      <br>
                      <%=final[2].type%>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
              <div class="container_card">
                <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                  <div class="inner">
                    <p><%=final[3].name%></p>
                    <span><%=final[3].phone%></span>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <p>
                      <%=final[3].location%>
                      <br>
                      <%=final[3].brand%>
                      <br>
                      <%=final[3].color%>
                      <br>
                      <%=final[3].type%>
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div> 
    </div>
    <%}%> -->
</body>
</html>